/* Dashboards */

#sidebar .active-dashboards ul:not(.watchers) li > a:not(.icon-only) {
  display: inline;
}

#sidebar .active-dashboards ul:not(.watchers) li {
  line-height: 1.5rem;
}

.icon.icon-dashboard.disabled {
  color: #b9b9b9;
}

p.role-visibility input {
  margin-left: 2rem;
}

.block-receiver.box {
  margin-bottom:0;
  background:transparent;
}

.mypage-box .contextual {
  transition: opacity 50ms;
  opacity: 0;
}

.mypage-box:hover .contextual {
  opacity: 1;
}

.mypage-box h3 {
  font-weight: bold;
}

.inline {
  display: inline-block;
  width:auto;
}

.centered {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
}

.centered .tabular.settings p,
.inline .tabular.settings p {
  padding-left:0;
}

.centered .tabular.settings label,
.inline .tabular.settings label {
  width: 100%;
  margin-left:0;
}

.centered .tabular label,
.inline .tabular label {
  text-align: left;
  float:right;
}

#my-page.dashboard {
  display:grid;
  grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
}

.dashboard #list-top.disable,
.dashboard #list-left-left.disable,
.dashboard #list-left-center.disable,
.dashboard #list-right-center.disable,
.dashboard #list-right-right.disable,
.dashboard #list-middle.disable,
.dashboard #list-left.disable,
.dashboard #list-right.disable,
.dashboard #list-bottom.disable {
  display: none;
}

.dashboard.dragging #list-top.disable,
.dashboard.dragging #list-left-left.disable,
.dashboard.dragging #list-left-center.disable,
.dashboard.dragging #list-right-center.disable,
.dashboard.dragging #list-right-right.disable,
.dashboard.dragging #list-middle.disable,
.dashboard.dragging #list-left.disable,
.dashboard.dragging #list-right.disable,
.dashboard.dragging #list-bottom.disable {
  display: block;
}

.dashboard #list-top,
.dashboard #list-middle,
.dashboard #list-bottom { 
  grid-column: 1 / 5;
  padding:1rem;
}

.dashboard #list-left-left {
  grid-column: 1 / 2;
  padding:1rem;
}

.dashboard #list-left-center {
  grid-column: 2 / 3;
  padding:1rem;
}

.dashboard #list-right-center{
  grid-column: 3 / 4;
  padding:1rem;
}

.dashboard #list-right-right {
  grid-column: 4 / 5;
  padding:1rem;
}

#my-page.dashboard #list-left,
#my-page.dashboard #list-right,
#my-page.dashboard .splitcontentleft,
#my-page.dashboard .splitcontentright {
  width: auto;
  float:none;
  padding: 0;
}

#my-page.dashboard #list-left {
  grid-column: 1 / 3;
  padding:1rem;
}

#my-page.dashboard #list-right {
  grid-column: 3 / 5;
  padding:1rem;
}

@media screen and (max-width: 899px) {
  div.contextual { display: none; }

  #my-page.dashboard {
    grid-template-columns: 100%;
  }
  .dashboard #list-top,
  .dashboard #list-left-left,
  .dashboard #list-left-center,
  .dashboard #list-right-center,
  .dashboard #list-right-right,
  .dashboard #list-middle,
  .dashboard #list-bottom,
  #my-page.dashboard #list-left,
  #my-page.dashboard #list-right { 
    grid-column: 1 / 2;
  }
}
/* Button Block */
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
  }

  /* Issue Query Block */

  .attention {
    border: none;
    color: #eabe1c;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
  }